[Unit]
Description=uWSGI instance to serve myapp
After=syslog.target

[Service]
WorkingDirectory=/home/ubuntu/testing/flask/proj01/
ExecStart=/home/ubuntu/.local/bin/uwsgi --ini /home/ubuntu/testing/flask/proj01/proj01.ini
RuntimeDirectory=uwsgi
Restart=no
#KillSignal=SIGQUIT
#Type=notify
#StandardError=syslog
#NotifyAccess=all

[Install]
WantedBy=multi-user.target

